*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  background: #3d0a74;
}
.nav-bar{
  background: #fff;
  width: fit-content;
  margin: 300px auto;
  padding: 0 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.nav-bar ul{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.nav-bar ul img{
  width: 17px;
}
.nav-bar ul li{
  width: 60px;
  height: 60px;
  font-size: 22px;
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
#circle{
  position: absolute;
  width: 65px;
  height: 70px;
  background: linear-gradient(#d91e63, #9c27b0);
  border-radius: 50%;
  top: -35px;
  left: 110px;
  border: 6px solid #2e114c;
  margin-left: 5px;
  transform: scale(1.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.8s;
}
#circle img{
  font-size: 40px;
}
#circle img{
  animation: 0.5s moveup linear forwards;
}
@keyframes moveup{
  0%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}